<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Admin    </title>
<link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
</head>
<body>
    <h1>LOGIN ADMIN</h1>
    <form action="#" th:action="@{../BackOffice/Login}" th:object="${user}"
            method="POST">
            <input type="text" field="*{pseudo}" name="pseudo" value="admin"/>
            <input type="password" field="*{ mdp }" name="mdp" value="admin"/>
            <button type="submit" class="btn btn-info col-2">Log In</button>
    </form>
 
</body>
</html>